@import "tailwindcss";

@theme {
  --color-accent-0: rgba(235, 245, 255, 1);
  --color-accent-5: rgba(211, 229, 248, 1);
  --color-accent-10: rgba(188, 214, 242, 1);
  --color-accent-15: rgba(164, 199, 236, 1);
  --color-accent-20: rgba(141, 184, 230, 1);
  --color-accent-30: rgba(94, 154, 218, 1);
  --color-accent-40: rgba(47, 124, 206, 1);
  --color-accent-50: rgba(0, 94, 194, 1);
  --color-accent-60: rgba(0, 75, 155, 1);
  --color-accent-70: rgba(0, 56, 116, 1);
  --color-accent-80: rgba(0, 37, 77, 1);
  --color-accent-85: rgba(0, 28, 58, 1);
  --color-accent-90: rgba(0, 18, 38, 1);
  --color-accent-95: rgba(0, 9, 19, 1);
  --color-accent-100: rgba(0, 0, 0, 1);
  --color-n-0: rgba(235, 245, 255, 1);
  --color-n-5: rgba(193, 206, 220, 1);
  --color-n-10: rgba(177, 191, 207, 1);
  --color-n-15: rgba(161, 176, 194, 1);
  --color-n-20: rgba(144, 161, 180, 1);
  --color-n-30: rgba(112, 131, 154, 1);
  --color-n-40: rgba(79, 101, 127, 1);
  --color-n-50: rgba(47, 72, 101, 1);
  --color-n-60: rgba(37, 57, 80, 1);
  --color-n-70: rgba(28, 43, 60, 1);
  --color-n-80: rgba(18, 28, 40, 1);
  --color-n-85: rgba(14, 21, 30, 1);
  --color-n-90: rgba(9, 14, 20, 1);
  --color-n-95: rgba(4, 7, 10, 1);
  --color-n-100: rgba(9, 9, 11, 1);
  --color-gs-0: rgba(255, 255, 255, 1);
  --color-gs-5: rgba(241, 242, 242, 1);
  --color-gs-10: rgba(228, 229, 230, 1);
  --color-gs-15: rgba(215, 216, 218, 1);
  --color-gs-20: rgba(201, 203, 206, 1);
  --color-gs-30: rgba(175, 178, 181, 1);
  --color-gs-40: rgba(148, 152, 157, 1);
  --color-gs-50: rgba(122, 127, 133, 1);
  --color-gs-60: rgba(97, 101, 106, 1);
  --color-gs-70: rgba(73, 76, 79, 1);
  --color-gs-80: rgba(48, 50, 53, 1);
  --color-gs-85: rgba(36, 38, 39, 1);
  --color-gs-90: rgba(24, 25, 26, 1);
  --color-gs-95: rgba(12, 12, 13, 1);
  --color-gs-100: rgba(9, 9, 11, 1);

  --color-bg: var(--color-gs-100);
  --color-text: var(--color-accent-0);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
} */

:root {
  font-family: "Noto Sans", sans-serif;
}

body {
  background: var(--color-n-100);
  color: var(--color-text);
}